@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

:root{
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(0,0,0,0.4)), url(./img/snow.jpg);
  background-position: center;
  background-size: cover;
  font-family: 'Courier Prime', monospace; 
}

.container{
  width: 63rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.container h1{
  font-size: 3rem;
  font-weight: normal;
  margin: -14rem 0 3rem ;
}

.countdown{
  display: flex;
  transform: scale(2);
  }

.time{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.3rem;
}

.time h2{
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1;
}

.slight{
  transform: translateX(0.15rem);
}

/* Tablet and ipads */
@media(max-width: 768px){
  .container{
    width: var(--container-width-md);
    height: 100vh;
  }

  .container h1{
    font-size: 2.5rem;
    font-weight: normal;
    margin: -18rem 0 3rem ;
  }

  .countdown{
    display: flex;
    transform: scale(1.3);
    padding: 0 0.5rem;
    }

}

/* Mobile */
@media(max-width: 500px){


  .container{
    width: var(--container-width-sm);
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
  }

  .container h1{
    font-size: 3rem;
    font-weight: normal;
    margin: -12rem 0 2rem ;
    padding-top: 1.5rem;
  }

  .countdown{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .6rem;
    margin-top: 1.5rem;
    }
  

  .time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.3rem;
  }
}